/*
Site Name: Nettuts+
Site URI: http://net.tutsplus.com/
Description: Simple Time Based PHP Style Switcher - Demo 1
Version: 1.0
Author: Janet Wagner
Author URI:  http://www.WebCodePro.net/
*/


/*  Color Reference
---------------------------------------------------

Off White: #d1e0d4
Light Yellow: #edeb95
Medium Green: #6eac2c
Light Green: #acdd4a
Medium Blue: #0078ae

*/


/*  Default Styles
--------------------------------------------------- */

body {
	margin: 0px;
	padding: 0px;
	background: url("../images/bokeh_3.jpg");  
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #666;
	font-size: 20px; 
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
}

#wrapper	{
	width: 965px;
	margin: 0 auto;	
	position: relative;
}

a:link, a:visited, a:active {
	color: #edeb95;
}

a:hover {
	color: #fff;
}

.clear	{
	float: none;
	clear: both;
}

.content_container_top, .content_container_bottom	{
	float: left;
	width: 950px;
	margin: 30px 0px 20px 0px;
}

.content_container_1	{
	float: left;
	width: 650px;
	margin: 0px 0px 30px 0px;
}

p.main_description	{
	margin: 5px 0px 50px 0px;
	text-align: center;
}

.content_container_2	{
	float: right;
	width: 285px;
	margin: 0px;
}

.content_container_2 img	{
	background-color: #fff;
	padding: 4px;
	margin: 0px;
}

.content_container_2 p	{
	width: 275px;
	float: left;
	margin: 0px 0px 30px 10px;
	text-align: center;
}

/* Main Image 
--------------------------------------------------- */

.main_image	{
	background: url("../images/main_image_5.jpg");  
	background-repeat: no-repeat;
	width: 630px;
	height: 425px;
	border: #fff solid 10px;
	margin: 0px 0px 10px 0px;
}


/*  Tabs 
--------------------------------------------------- */

#tabs p	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

a.tabs_link_1:link, a.tabs_link_1:visited, a.tabs_link_1:active { 
	text-decoration: underline;
	color: #0078ae;
	font-weight: bold;
}

a.tabs_link_1:hover { 
	text-decoration: underline;
	color: #6eac2c;
	font-weight: bold;
}

#tabs .tabs_img	{
	float: left;
	background-color: #acdd4a;
	padding: 8px;
	margin: 0px 12px 0px 0px;
}